In [29]:
import pandas as pd

In [30]:
summarized_table = pd.read_parquet('data/output/sales/cash_invoices/summarized/2025/january/')
detailed_table = pd.read_parquet('data/output/sales/cash_invoices/detailed/2025/january/')
detailed_excel_df = pd.read_excel(r'data\input\sales\cash_invoices\detailed\2025\january\detci_30_31_january_2025.xls')
summarized_excel_df = pd.read_excel(r'data\input\sales\cash_invoices\summarized\2025\january\sumci_01_15_january_2025.xls')

In [33]:
# csv the first 20 rows
summarized_table.head(20).to_csv('sample/summarized_sample.csv', index=False)
detailed_table.head(20).to_csv('sample/detailed_sample.csv', index=False)

In [9]:
# get unique TRN_TYPE AND TOTAL ROWS FROM DETAILED TABLE
unique_trn_types = detailed_table['TRN_TYPE'].nunique()
# total_rows_detailed = len(detailed_table)
# total_rows_unique_trn_types = len(unique_trn_types)
# get values of unique_trn_types
unique_trn_types_values = detailed_table['BCODE'].unique()
unique_trn_types_values

array([ 1,  3,  4,  5,  6,  7,  8, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21,
        2])

In [31]:
detailed_table.dtypes

DOCUMENT_NUMBER      object
TRN_YEAR              int64
TRN_MONTH             int64
TRN_DATE             object
AMOUNT              float64
CUS_CODE             object
CUSTOMER_NAME        object
VAT                 float64
DISC                float64
BCODE                 int64
USERNAME             object
AMOUNT_INCLUSIVE    float64
AMOUNT_EXCLUSIVE    float64
TAX_AMOUNT          float64
QUANTITY            float64
DISCOUNT_PERCENT    float64
DISCOUNT            float64
AMOUNT_VALUE        float64
AMT_EXCL            float64
DESCRIPTION          object
ITEM_CODE            object
ITEM_PRICE          float64
PW                   object
PWQTY               float64
TRN_TYPE             object
TELEPHONE            object
EMAIL                object
COMPANY              object
ADDRESS              object
MPESA_TILL           object
BRANCH_NAME          object
_source_sheet        object
_processed_at        object
dtype: object

In [32]:
detailed_excel_df.dtypes

DOCUMENT_NUMBER      object
TRN_YEAR              int64
TRN_MONTH             int64
TRN_DATE             object
AMOUNT              float64
CUS_CODE             object
CUSTOMER_NAME        object
VAT                 float64
DISC                float64
BCODE                 int64
USERNAME             object
AMOUNT_INCLUSIVE    float64
AMOUNT_EXCLUSIVE    float64
TAX_AMOUNT          float64
QUANTITY            float64
DISCOUNT_PERCENT    float64
DISCOUNT            float64
AMOUNT_VALUE        float64
AMT_EXCL            float64
DESCRIPTION          object
ITEM_CODE            object
ITEM_PRICE          float64
PW                   object
PWQTY               float64
TRN_TYPE             object
TELEPHONE            object
EMAIL                object
COMPANY              object
ADDRESS              object
MPESA_TILL           object
BRANCH_NAME          object
dtype: object

In [25]:
# get the difference in column names in detailed_table.dtypes and detailed_excel_df.dtypes
set(detailed_table.columns) - set(detailed_excel_df.columns)

{'_processed_at', '_source_sheet'}

In [27]:
# get specific columns DOCUMENT_NUMBER	TRN_YEAR	TRN_MONTH	TRN_DATE	AMOUNT	CUS_CODE	CUSTOMER_NAME

specific_columns = detailed_table[['DOCUMENT_NUMBER', 'TRN_DATE', 'AMOUNT', 'CUSTOMER_NAME', 'ITEM_CODE', 'DESCRIPTION', 'QUANTITY', 'PW', 'PWQTY']]
specific_columns

,DOCUMENT_NUMBER,TRN_DATE,AMOUNT,CUSTOMER_NAME,ITEM_CODE,DESCRIPTION,QUANTITY,PW,PWQTY
0,CIV10018663,2025-01-02 08:17:42.42,1515.0,COMPASSIONATE,C0351,CPM BLISTER 100s,2.0,W,200.0
1,CIV10018663,2025-01-02 08:17:42.42,1515.0,COMPASSIONATE,C0815,CZOLE V6 PESS(CLOTRIMAZOLE ),4.0,W,4.0
2,CIV10018663,2025-01-02 08:17:42.42,1515.0,COMPASSIONATE,C0840,ACECLOPARA TABS 30`S(CONACE P),1.0,W,30.0
3,CIV10018663,2025-01-02 08:17:42.42,1515.0,COMPASSIONATE,D0117,DICLOFENAC INJ 75MG/3ML 1s,10.0,W,10.0
4,CIV10018663,2025-01-02 08:17:42.42,1515.0,COMPASSIONATE,D0345,DICLOFENAC 100MG 100`S(NELAC),1.0,W,100.0
...,...,...,...,...,...,...,...,...,...
335019,210000183,2025-01-31 18:05:21.773,-1320.0,FRAKAM CHEMIST,B0280,BENAFLU CAPS 10`S,-15.0,W,-15.0
335020,210000183,2025-01-31 18:05:21.773,-1320.0,FRAKAM CHEMIST,C0290,COLDFLU CAPS 12s,-15.0,W,-15.0
335021,210001414,2025-01-31 18:10:02.681,1310.0,FRAKAM CHEMIST,M0041,MEDICAL ENVELOPES 1000s,200.0,P,200.0
335022,210001414,2025-01-31 18:10:02.681,1310.0,FRAKAM CHEMIST,Z0023,ZEFCOLIN SYR 100ML,5.0,W,5.0
335023,210001415,2025-01-31 18:59:20.469,420.0,MATHINGIRA MEDICAL CENTRE,I0064,IMIPRAMINE 25MG TABS 28S,1.0,W,28.0

In [28]:
specific_columns_excel = detailed_table[['DOCUMENT_NUMBER', 'TRN_DATE', 'AMOUNT', 'CUSTOMER_NAME', 'ITEM_CODE', 'DESCRIPTION', 'QUANTITY', 'PW', 'PWQTY']]
specific_columns_excel

,DOCUMENT_NUMBER,TRN_DATE,AMOUNT,CUSTOMER_NAME,ITEM_CODE,DESCRIPTION,QUANTITY,PW,PWQTY
0,CIV10018663,2025-01-02 08:17:42.42,1515.0,COMPASSIONATE,C0351,CPM BLISTER 100s,2.0,W,200.0
1,CIV10018663,2025-01-02 08:17:42.42,1515.0,COMPASSIONATE,C0815,CZOLE V6 PESS(CLOTRIMAZOLE ),4.0,W,4.0
2,CIV10018663,2025-01-02 08:17:42.42,1515.0,COMPASSIONATE,C0840,ACECLOPARA TABS 30`S(CONACE P),1.0,W,30.0
3,CIV10018663,2025-01-02 08:17:42.42,1515.0,COMPASSIONATE,D0117,DICLOFENAC INJ 75MG/3ML 1s,10.0,W,10.0
4,CIV10018663,2025-01-02 08:17:42.42,1515.0,COMPASSIONATE,D0345,DICLOFENAC 100MG 100`S(NELAC),1.0,W,100.0
...,...,...,...,...,...,...,...,...,...
335019,210000183,2025-01-31 18:05:21.773,-1320.0,FRAKAM CHEMIST,B0280,BENAFLU CAPS 10`S,-15.0,W,-15.0
335020,210000183,2025-01-31 18:05:21.773,-1320.0,FRAKAM CHEMIST,C0290,COLDFLU CAPS 12s,-15.0,W,-15.0
335021,210001414,2025-01-31 18:10:02.681,1310.0,FRAKAM CHEMIST,M0041,MEDICAL ENVELOPES 1000s,200.0,P,200.0
335022,210001414,2025-01-31 18:10:02.681,1310.0,FRAKAM CHEMIST,Z0023,ZEFCOLIN SYR 100ML,5.0,W,5.0
335023,210001415,2025-01-31 18:59:20.469,420.0,MATHINGIRA MEDICAL CENTRE,I0064,IMIPRAMINE 25MG TABS 28S,1.0,W,28.0

In [14]:
result_detailed_table = detailed_table.copy()

In [20]:
result_summarized_table = summarized_table.copy()

In [21]:
result_summarized_table.head()

,DOCUMENT_NUMBER,TRN_YEAR,TRN_MONTH,TRN_DATE,AMOUNT,CUS_CODE,CUSTOMER_NAME,VAT,DISC,BCODE,...,AMOUNT_INCLUSIVE,AMOUNT_EXCLUSIVE,TELEPHONE,EMAIL,COMPANY,ADDRESS,MPESA_TILL,BRANCH_NAME,_source_sheet,_processed_at
0,CNO1003286,2025,1,2025-01-02,-1470.0,C2412352140827,MOMENTS PHARMACEUTICAL UMOJA 2,0.0,0.0,1,...,-1470.0,-1470.0,"+254798674535, 0786585579,0790291256, 0700493693",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-09-02T11:00:31.798878
1,CNO1003278,2025,1,2025-01-02,-1245.0,C2408228155313,KIMANA,0.0,0.0,1,...,-1245.0,-1245.0,"+254798674535, 0786585579,0790291256, 0700493693",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-09-02T11:00:31.798878
2,CNO1003279,2025,1,2025-01-02,-1160.0,C2408219103310,CHOKAA HEALTHCARE,0.0,0.0,1,...,-1160.0,-1160.0,"+254798674535, 0786585579,0790291256, 0700493693",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-09-02T11:00:31.798878
3,CNO1003267,2025,1,2025-01-02,-510.0,CUS001612,HURLINGHAM,0.0,0.0,1,...,-510.0,-510.0,"+254798674535, 0786585579,0790291256, 0700493693",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-09-02T11:00:31.798878
4,CNO1003280,2025,1,2025-01-02,-510.0,CUS1486,UNICURE PHARMACY,0.0,0.0,1,...,-510.0,-510.0,"+254798674535, 0786585579,0790291256, 0700493693",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-09-02T11:00:31.798878

In [22]:
changes_made = False
# iterate through each column to check for object types that can be converted to datetime
for col in result_summarized_table.columns:
    if result_summarized_table[col].dtype == "object":
        try:
            # Check if column contains date-like strings
            sample = result_summarized_table[col].dropna().head(10)
            if not sample.empty:
                # Try to convert to datetime
                pd.to_datetime(sample, errors="raised")
                result_summarized_table[col] = pd.to_datetime(result_summarized_table[col], errors="coerce")
                changes_made = True           
        except:
            pass

C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")
C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")
C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")
C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")
C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")
C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")
C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")
C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")
C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")
C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")
C:\Users\Hello\AppData\Local\Temp\ipykernel_1256\3315222483.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(sample, errors="raised")

In [44]:
missing_before = result_summarized_table.isnull().sum()

In [45]:
missing_before

DOCUMENT_NUMBER        0
TRN_YEAR               0
TRN_MONTH              0
TRN_DATE               0
AMOUNT                 0
CUS_CODE               0
CUSTOMER_NAME          0
VAT                    0
DISC                   0
BCODE                  0
USERNAME               0
AMOUNT_INCLUSIVE       0
AMOUNT_EXCLUSIVE       0
TELEPHONE              0
EMAIL               3909
COMPANY              773
ADDRESS             3909
MPESA_TILL             0
BRANCH_NAME            0
_source_sheet          0
_processed_at          0
dtype: int64

In [ ]:
# check if

In [35]:
import numpy as np

In [49]:
# Identify all numeric columns
object_cols = result_detailed_table.select_dtypes(include=["object"]).columns

# Create a boolean mask to find rows with missing values in numeric columns
# The `any(axis=1)` checks if ANY column in that row has a missing value
missing_numeric_rows_mask = result_detailed_table[object_cols].isnull().any(axis=1)

# Use the mask to select and display the entire rows
rows_with_missing_numeric = result_detailed_table[missing_numeric_rows_mask]

print("\nRows with missing values in numeric columns: " )
print(missing_numeric_rows_mask.column)

Rows with missing values in numeric columns:

AttributeError: 'Series' object has no attribute 'column'

In [41]:
# Select only the numeric columns
numeric_cols = result_detailed_table.select_dtypes(include=np.number)

# Create a boolean mask where a row has at least one negative value
rows_with_any_negative = (numeric_cols < 0).any(axis=1)

# Filter the original DataFrame using the boolean mask
result_df = result_detailed_table[rows_with_any_negative]

print("\nRows with any negative values in numeric columns:")
result_df.head()

Rows with any negative values in numeric columns:

,DOCUMENT_NUMBER,TRN_YEAR,TRN_MONTH,TRN_DATE,AMOUNT,CUS_CODE,CUSTOMER_NAME,VAT,DISC,BCODE,...,PWQTY,TRN_TYPE,TELEPHONE,EMAIL,COMPANY,ADDRESS,MPESA_TILL,BRANCH_NAME,_source_sheet,_processed_at
1561,CNO1003265,2025,1,2025-01-02 19:22:56.128,-415.0,C2410299144959,FAVOURED MAJENGO,0.0,0.0,1,...,-100.0,CRN,"+254798674535, 0786585579,0790291256",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-08-29 17:40:46.883583
1562,CNO1003266,2025,1,2025-01-02 19:27:00.783,-75.0,C2408214091448,EVAMED PCY,0.0,0.0,1,...,-5.0,CRN,"+254798674535, 0786585579,0790291256",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-08-29 17:40:46.883583
1563,CNO1003267,2025,1,2025-01-02 19:28:26.831,-510.0,CUS001612,HURLINGHAM,0.0,0.0,1,...,-3.0,CRN,"+254798674535, 0786585579,0790291256",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-08-29 17:40:46.883583
1564,CNO1003271,2025,1,2025-01-02 19:36:26.652,-225.0,CUS001645,AGATE OMEGA SAIKA,0.0,0.0,1,...,-10.0,CRN,"+254798674535, 0786585579,0790291256",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-08-29 17:40:46.883583
1565,CNO1003272,2025,1,2025-01-02 19:38:00.732,-300.0,C2411319125530,MAWE MBILI,0.0,0.0,1,...,-50.0,CRN,"+254798674535, 0786585579,0790291256",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-08-29 17:40:46.883583

In [42]:
result_df

,DOCUMENT_NUMBER,TRN_YEAR,TRN_MONTH,TRN_DATE,AMOUNT,CUS_CODE,CUSTOMER_NAME,VAT,DISC,BCODE,...,PWQTY,TRN_TYPE,TELEPHONE,EMAIL,COMPANY,ADDRESS,MPESA_TILL,BRANCH_NAME,_source_sheet,_processed_at
1561,CNO1003265,2025,1,2025-01-02 19:22:56.128,-415.0,C2410299144959,FAVOURED MAJENGO,0.0,0.0,1,...,-100.0,CRN,"+254798674535, 0786585579,0790291256",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-08-29 17:40:46.883583
1562,CNO1003266,2025,1,2025-01-02 19:27:00.783,-75.0,C2408214091448,EVAMED PCY,0.0,0.0,1,...,-5.0,CRN,"+254798674535, 0786585579,0790291256",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-08-29 17:40:46.883583
1563,CNO1003267,2025,1,2025-01-02 19:28:26.831,-510.0,CUS001612,HURLINGHAM,0.0,0.0,1,...,-3.0,CRN,"+254798674535, 0786585579,0790291256",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-08-29 17:40:46.883583
1564,CNO1003271,2025,1,2025-01-02 19:36:26.652,-225.0,CUS001645,AGATE OMEGA SAIKA,0.0,0.0,1,...,-10.0,CRN,"+254798674535, 0786585579,0790291256",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-08-29 17:40:46.883583
1565,CNO1003272,2025,1,2025-01-02 19:38:00.732,-300.0,C2411319125530,MAWE MBILI,0.0,0.0,1,...,-50.0,CRN,"+254798674535, 0786585579,0790291256",info@pharmaalliedltd.com,PHARMA & ALLIED LOGISTICS LTD,P.O BOX 37692-00100 NAIROBI,TILL NO,HQ,nextech,2025-08-29 17:40:46.883583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334401,CNO200000188,2025,1,2025-01-30 17:57:07.735,-20.0,CUS001610,CASH CUSTOMER,0.0,0.0,20,...,-1.0,CRN,0790291256 / 0727664132,None,PHARMA & ALLIED LOGISTICS LTD,None,PAYBILL 247247 A/C 464984,SPINE ROAD,nextech,2025-08-29 17:41:52.722494
334523,CNO200000190,2025,1,2025-01-31 11:10:52.669,-170.0,C2411319125530,MAWE MBILI,0.0,0.0,20,...,-2.0,CRN,0790291256 / 0727664132,None,PHARMA & ALLIED LOGISTICS LTD,None,PAYBILL 247247 A/C 464984,SPINE ROAD,nextech,2025-08-29 17:41:52.722494
334524,CNO200000191,2025,1,2025-01-31 11:12:37.599,-1400.0,C2411307104644,GONE HEIGHT MEDICAL CENTER,0.0,0.0,20,...,-50.0,CRN,0790291256 / 0727664132,None,PHARMA & ALLIED LOGISTICS LTD,None,PAYBILL 247247 A/C 464984,SPINE ROAD,nextech,2025-08-29 17:41:52.722494
335019,210000183,2025,1,2025-01-31 18:05:21.773,-1320.0,C250102181700,FRAKAM CHEMIST,0.0,0.0,21,...,-15.0,CRN,None,None,None,None,Till No:,OTHAYA,nextech,2025-08-29 17:41:52.722494
335020,210000183,2025,1,2025-01-31 18:05:21.773,-1320.0,C250102181700,FRAKAM CHEMIST,0.0,0.0,21,...,-15.0,CRN,None,None,None,None,Till No:,OTHAYA,nextech,2025-08-29 17:41:52.722494

In [57]:
# result_detailed_table drop columns if has a lot of null values
# Calculate the percentage of missing values for each column
null_percentages = result_detailed_table.isnull().mean() * 100

# Set a threshold (e.g., drop columns with more than 50% missing values)
threshold = 1

# Get the list of columns to drop
columns_to_drop = null_percentages[null_percentages > threshold].index.tolist()

# Drop the columns from the DataFrame
result_detailed_table.drop(columns=columns_to_drop, inplace=True)

print("Columns dropped:", columns_to_drop)
print("\nDataFrame after dropping columns:")
result_detailed_table.isnull().sum()

Columns dropped: ['COMPANY']

DataFrame after dropping columns:

DOCUMENT_NUMBER     0
TRN_YEAR            0
TRN_MONTH           0
TRN_DATE            0
AMOUNT              0
CUS_CODE            0
CUSTOMER_NAME       0
VAT                 0
DISC                0
BCODE               0
USERNAME            0
AMOUNT_INCLUSIVE    0
AMOUNT_EXCLUSIVE    0
TAX_AMOUNT          0
QUANTITY            0
DISCOUNT_PERCENT    0
DISCOUNT            0
AMOUNT_VALUE        0
AMT_EXCL            0
DESCRIPTION         0
ITEM_CODE           0
ITEM_PRICE          0
PW                  0
PWQTY               0
TRN_TYPE            0
MPESA_TILL          0
BRANCH_NAME         0
_source_sheet       0
_processed_at       0
dtype: int64

In [61]:
# result_summarized_table drop columns if has a lot of null values
# Calculate the percentage of missing values for each column
null_percentages = result_summarized_table.isnull().mean() * 100

# Set a threshold (e.g., drop columns with more than 50% missing values)
threshold = 1

# Get the list of columns to drop
columns_to_drop = null_percentages[null_percentages > threshold].index.tolist()

# Drop the columns from the DataFrame
result_summarized_table.drop(columns=columns_to_drop, inplace=True)

print("Columns dropped:", columns_to_drop)
print("\nDataFrame after dropping columns:")
result_summarized_table.isnull().sum()

Columns dropped: ['EMAIL', 'COMPANY', 'ADDRESS']

DataFrame after dropping columns:

DOCUMENT_NUMBER     0
TRN_YEAR            0
TRN_MONTH           0
TRN_DATE            0
AMOUNT              0
CUS_CODE            0
CUSTOMER_NAME       0
VAT                 0
DISC                0
BCODE               0
USERNAME            0
AMOUNT_INCLUSIVE    0
AMOUNT_EXCLUSIVE    0
TELEPHONE           0
MPESA_TILL          0
BRANCH_NAME         0
_source_sheet       0
_processed_at       0
dtype: int64

In [59]:
# if result_detailed_table['VAT'] == 0.0 and result_detailed_table['DISC'] == 0.0 then drop the columns
# Check if ALL values in 'VAT' and 'DISC' columns are 0.0
vat_is_zero = (result_detailed_table['VAT'] == 0.0).all()
disc_is_zero = (result_detailed_table['DISC'] == 0.0).all()

# Check the combined condition
if vat_is_zero and disc_is_zero:
    # Drop the columns if the condition is met
    result_detailed_table = result_detailed_table.drop(columns=['VAT', 'DISC'])
    print("\n'VAT' and 'DISC' columns dropped because all their values were 0.0.")
else:
    print("\nCondition not met. Columns 'VAT' and 'DISC' were not dropped.")

print("\nResulting DataFrame:")
result_detailed_table.dtypes

'VAT' and 'DISC' columns dropped because all their values were 0.0.

Resulting DataFrame:

DOCUMENT_NUMBER             object
TRN_YEAR                     int64
TRN_MONTH                    int64
TRN_DATE            datetime64[ns]
AMOUNT                     float64
CUS_CODE                    object
CUSTOMER_NAME               object
BCODE                        int64
USERNAME                    object
AMOUNT_INCLUSIVE           float64
AMOUNT_EXCLUSIVE           float64
TAX_AMOUNT                 float64
QUANTITY                   float64
DISCOUNT_PERCENT           float64
DISCOUNT                   float64
AMOUNT_VALUE               float64
AMT_EXCL                   float64
DESCRIPTION                 object
ITEM_CODE                   object
ITEM_PRICE                 float64
PW                          object
PWQTY                      float64
TRN_TYPE                    object
MPESA_TILL                  object
BRANCH_NAME                 object
_source_sheet               object
_processed_at       datetime64[ns]
dtype: object

In [62]:
result_summarized_table.isnull().sum()

DOCUMENT_NUMBER     0
TRN_YEAR            0
TRN_MONTH           0
TRN_DATE            0
AMOUNT              0
CUS_CODE            0
CUSTOMER_NAME       0
VAT                 0
DISC                0
BCODE               0
USERNAME            0
AMOUNT_INCLUSIVE    0
AMOUNT_EXCLUSIVE    0
TELEPHONE           0
MPESA_TILL          0
BRANCH_NAME         0
_source_sheet       0
_processed_at       0
dtype: int64

In [63]:
# if result_summarized_table['VAT'] == 0.0 and result_summarized_table['DISC'] == 0.0 then drop the columns
# Check if ALL values in 'VAT' and 'DISC' columns are 0.0
vat_is_zero = (result_summarized_table['VAT'] == 0.0).all()
disc_is_zero = (result_summarized_table['DISC'] == 0.0).all()

# Check the combined condition
if vat_is_zero and disc_is_zero:
    # Drop the columns if the condition is met
    result_summarized_table = result_summarized_table.drop(columns=['VAT', 'DISC'])
    print("\n'VAT' and 'DISC' columns dropped because all their values were 0.0.")
else:
    print("\nCondition not met. Columns 'VAT' and 'DISC' were not dropped.")

print("\nResulting DataFrame:")
result_summarized_table.dtypes

'VAT' and 'DISC' columns dropped because all their values were 0.0.

Resulting DataFrame:

DOCUMENT_NUMBER      object
TRN_YEAR              int64
TRN_MONTH             int64
TRN_DATE             object
AMOUNT              float64
CUS_CODE             object
CUSTOMER_NAME        object
BCODE                 int64
USERNAME             object
AMOUNT_INCLUSIVE    float64
AMOUNT_EXCLUSIVE    float64
TELEPHONE            object
MPESA_TILL           object
BRANCH_NAME          object
_source_sheet        object
_processed_at        object
dtype: object

In [64]:
# DROP COLUMNS TELEPHONE MPESA_TILL IN result_summarized_table
result_summarized_table.drop(columns=['TELEPHONE', 'MPESA_TILL'], inplace=True)

In [67]:
#  CHECK IF AMOUNTAMOUNT_INCLUSIVE, AMOUNT AND AMOUNT_EXCLUSIVE ARE EQUAL result_summarized_table

result_summarized_table['AMOUNT_EXCLUSIVE'].equals(result_summarized_table['AMOUNT'])

True

In [69]:
# result_summarized_table TO CSV TOP 10 ROWS
result_summarized_table.tail(20).to_csv('data/output/sales/cash_invoices/summarized_cah_invoices_january_2025_sample.csv', index=False)
result_detailed_table.tail(20).to_csv('data/output/sales/cash_invoices/detailed_cah_invoices_january_2025_sample.csv', index=False)